:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #acacac;
  --second-brand-color: #4a9ded;
  --third-brand-color: #f59733;
  --fourth-brand-color: #e96480;
  --fifth-brand-color:#a087f4; 

 

  --main-font:  'Montserrat';
  --title-font: 'Quicksand';

  font-size: 62.5%;
}
